<mat-card class="container">
  <mat-card-header>
    <mat-card-title>手机号快速注册</mat-card-title>
    <mat-card-subtitle>
      <a
        [routerLink]="['../email']"
        [queryParamsHandling]="'preserve'"
        class="ablue"
      >
        点击此处进入普通注册</a
      >
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      class="form-horizontal formcontent"
      *ngIf="!registerResult; else elseTemplate"
    >
      <div class="form-group">
        <mat-form-field
          [color]="(layoutService.setting | async)?.style"
          appearance="outline"
        >
          <!-- <mat-label>Outline form field</mat-label> -->
          <input
            type="tel"
            matInput
            formControlName="name"
            placeholder="请输入手机号"
          />
          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="send()"
            [attr.aria-label]="'发送短信'"
            [disabled]="form.get('name')!.invalid"
          >
            <mat-icon>touch_app</mat-icon
            ><!--send sync check_circle  error-->
            <!--<mat-icon>touch_app{{captchaicon}}</mat-icon>send sync check_circle  error-->
          </button>
          <mat-error>{{ getErrorMsg(form.get("name")!) }}</mat-error>
        </mat-form-field>
        <mat-form-field
          [color]="(layoutService.setting | async)?.style"
          appearance="outline"
          style="margin-left: 10px"
        >
          <input
            type="text"
            matInput
            formControlName="captchavalue"
            placeholder="请输入短信验证码"
          />
          <mat-error>{{ getErrorMsg(form.get("captchavalue")!) }}</mat-error>
        </mat-form-field>
      </div>

      <div>
        <button
          mat-raised-button
          type="submit"
          [color]="(layoutService.setting | async)?.style"
          [disabled]="!form.valid"
        >
          提交
        </button>
        <span class="fromerror">{{ getErrorMsg(form) }}</span>
        <!-- <button type="reset" mat-raised-button>重置</button> -->
      </div>
    </form>

    <ng-template #elseTemplate>
      <div>
        <div class="center fontxlager">
          <a [routerLink]="['/userinfo']">注册成功，点击跳转到首页</a>
        </div>
      </div>
    </ng-template>
  </mat-card-content>
</mat-card>
