.formcontent {
  padding-top: 1.25rem;
}

.fromerror {
  color: red;
  margin-left: 0.625rem;
}

.center {
  width: fit-content;
  margin: 3.125rem auto;
}

.fontxlager {
  font-size: x-large;
}
.ablue {
  color: rgb(24, 120, 245);
}
