.cardheader {
    width: auto;
  }
  
  .avatar-img {
    width: inherit;
    height: inherit;
  }
  
  .ml-1 {
    margin-left: 0.625rem;
  }
  table {
    width: 100%;
  }
  
  .contentheader{
    margin: 10px 5px;
  }
  .warring{
    color: red;
  }
  .pl-2 {
    margin-left: .625rem;
}