.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  .sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
         causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
    background-image: url(../../../assets/img/gallery/img1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  
  .sidenav-container .centercontainer {
    width: 50vw;
    margin: 10vh auto 0px;
    opacity: 0.8;
  }
  