<mat-card class="container">
  <mat-card-header>
    <mat-card-title>找回密码</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-horizontal-stepper linear (selectionChange)="onStepperSelect($event)">
      <mat-step
        [stepControl]="name"
        label="填写账号"
        (interacted)="onFirstStepper($event)"
      >
        <mat-form-field [color]="(color | async)!" appearance="outline">
          <input matInput [formControl]="name" placeholder="请输入账号" />
          <mat-error>{{ getErrorMsg(name) }}</mat-error>
        </mat-form-field>
        <button
          class="ml-1"
          matStepperNext
          mat-raised-button
          [color]="color | async"
          [disabled]="name.invalid"
        >
          下一步
        </button>
      </mat-step>
      <mat-step label="选择找回方式" [stepControl]="method">
        <mat-radio-group class="method-radio-group" [formControl]="method">
          <mat-radio-button
            class="method-radio-button"
            *ngFor="let item of optmethods"
            [value]="item"
            [ngSwitch]="item.key"
          >
            <span *ngSwitchCase="'idcard'">以身份证号码的方式找回</span>
            <span *ngSwitchCase="'email'">以邮箱验证码的方式找回</span>
            <span *ngSwitchCase="'mobile'">以短信验证码的方式找回</span>
            <span *ngSwitchDefault>未知</span>
          </mat-radio-button>
        </mat-radio-group>

        <div>
          <button mat-raised-button matStepperPrevious type="button">
            上一步
          </button>
          <button
            mat-raised-button
            matStepperNext
            type="submit"
            [color]="color | async"
            [disabled]="method.invalid"
          >
            下一步
          </button>
        </div>

        <!-- <ng-template [ngIf]="name.valid">
          <div>
            
          </div>
        </ng-template> -->
      </mat-step>
      <mat-step label="修改密码">
        <div [ngSwitch]="method.value?.key">
          <div *ngSwitchCase="'idcard'">
            <form [formGroup]="idcardForm" (ngSubmit)="onIDcardSubmit()">
              <mat-form-field [color]="(color | async)!" appearance="outline">
                <input
                  matInput
                  formControlName="idcard"
                  placeholder="请输入身份证号码"
                />
                <mat-error>{{
                  getErrorMsg(idcardForm.get("idcard")!)
                }}</mat-error>
              </mat-form-field>
              <mat-form-field
                [color]="(color | async)!"
                appearance="outline"
                class="ml-1"
              >
                <input
                  matInput
                  formControlName="password"
                  placeholder="请输入新密码"
                  [type]="hide ? 'password' : 'text'"
                />
                <button
                  mat-icon-button
                  matSuffix
                  (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide"
                >
                  <mat-icon>{{
                    hide ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
                <mat-error>{{
                  getErrorMsg(idcardForm.get("password")!)
                }}</mat-error>
              </mat-form-field>
              <div>
                <button
                  mat-raised-button
                  type="submit"
                  class="ml-1"
                  [color]="color | async"
                  [disabled]="idcardForm.invalid"
                >
                  提交
                </button>
                <span class="fromerror">{{ getErrorMsg(idcardForm) }}</span>
              </div>
            </form>
          </div>
          <div *ngSwitchCase="'mobile'">
            <div>即将为你的{{ method.value?.value }}发送验证码</div>
            <form [formGroup]="mobileForm" (ngSubmit)="onMobileSubmit()">
              <button
                mat-raised-button
                [color]="(color | async)!"
                (click)="send('phone')"
              >
                发送验证码
              </button>
              <mat-form-field
                [color]="(color | async)!"
                appearance="outline"
                class="ml-1"
              >
                <input
                  matInput
                  formControlName="captchavalue"
                  placeholder="请输入验证码"
                />
                <mat-error>{{
                  getErrorMsg(mobileForm.get("captchavalue")!)
                }}</mat-error>
              </mat-form-field>

              <mat-form-field
                [color]="(color | async)!"
                appearance="outline"
                class="ml-1"
              >
                <input
                  matInput
                  formControlName="password"
                  placeholder="请输入新密码"
                  [type]="hide ? 'password' : 'text'"
                />
                <button
                  mat-icon-button
                  matSuffix
                  (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide"
                >
                  <mat-icon>{{
                    hide ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
                <mat-error>{{
                  getErrorMsg(mobileForm.get("password")!)
                }}</mat-error>
              </mat-form-field>
              <div>
                <button
                  mat-raised-button
                  type="submit"
                  class="ml-1"
                  [color]="color | async"
                  [disabled]="mobileForm.invalid"
                >
                  提交
                </button>
                <span class="fromerror">{{ getErrorMsg(mobileForm) }}</span>
              </div>
            </form>
          </div>
          <div *ngSwitchCase="'email'">
            <div>即将为你的{{ method.value?.value }}发送验证码</div>
            <form [formGroup]="emailForm" (ngSubmit)="onEmailSubmit()">
              <button
                mat-raised-button
                [color]="(color | async)!"
                (click)="send('email')"
              >
                发送验证码
              </button>
              <mat-form-field
                [color]="(color | async)!"
                appearance="outline"
                class="ml-1"
              >
                <input
                  matInput
                  formControlName="captchavalue"
                  placeholder="请输入验证码"
                />
                <mat-error>{{
                  getErrorMsg(emailForm.get("captchavalue")!)
                }}</mat-error>
              </mat-form-field>

              <mat-form-field
                [color]="(color | async)!"
                appearance="outline"
                class="ml-1"
              >
                <input
                  matInput
                  formControlName="password"
                  placeholder="请输入新密码"
                  [type]="hide ? 'password' : 'text'"
                />
                <button
                  mat-icon-button
                  matSuffix
                  (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide"
                >
                  <mat-icon>{{
                    hide ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
                <mat-error>{{
                  getErrorMsg(emailForm.get("password")!)
                }}</mat-error>
              </mat-form-field>
              <div>
                <button
                  mat-raised-button
                  type="submit"
                  class="ml-1"
                  [color]="color | async"
                  [disabled]="emailForm.invalid"
                >
                  提交
                </button>
                <span class="fromerror">{{ getErrorMsg(emailForm) }}</span>
              </div>
            </form>
          </div>
          <span *ngSwitchDefault> 未知 </span>
        </div>
      </mat-step>
      <mat-step label="成功" [editable]="false">
        <div class="center fontxlager">
          <span>成功,{{ waittime }}秒后即将跳转到首页</span>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card-content>
</mat-card>
